<%- include header %>

<% posts.forEach(function(post, index){ %>
 <h2>
 	<a href="#"><%= post.title %></a>
 </h2>
 <p class="info">
	 <span>作者：</span<a href="#"><%= post.name %></a> |
	 <span>日期：</span><%= post.time.minute %>
 </p>
 <p><%- post.post %></p>
<% }) %>


<%- include footer %>